<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" xmlns="http://logging.apache.org/log4j/2.0/config">

    <Properties>
        <Property name="log-path">./logs</Property>
        <Property name="log-pattern">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${log-pattern}"/>
        </Console>

        <RollingFile name="File" fileName="${log-path}/automation.log"
                     filePattern="${log-path}/automation-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${log-pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- Mention "DEBUG" if the developer requests debug logs -->
        <Root level="INFO"> 
            <!-- Available log levels: 
                 ALL > TRACE > DEBUG > INFO > WARN > ERROR > FATAL > OFF -->
            
            <!--<AppenderRef ref="Console"/> Uncomment to enable console logging -->
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>
